@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap");

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 193 100% 50%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 193 4.8% 95.9%;
        --secondary-foreground: 193 5.9% 10%;
        --muted: 193 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 193 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 193 5.9% 90%;
        --input: 193 5.9% 90%;
        --ring: 193 76.2% 36.3%;
        --radius: 0.75rem;
        --accent2: 334 100% 77%;
    }
    .dark {
        --background: 20 14.3% 8%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 193 100% 65%;
        --primary-foreground: 193 80.4% 10%;
        --secondary: 193 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 193 3.7% 18%;
        --input: 193 3.7% 15.9%;
        --ring: 193 71.8% 29.2%;
        --accent2: 334 100% 77%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground antialiased;
    }
}
